@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
$bgcolor: #3C3B40;
$textcolor: #F2F2F2;
$mainwidth: 1200px;
$mainfont: normal 12px 'Lato';
$sizes: ("sm":576px, "md":768px, "lg":992px, "xl":1200px);

@keyframes appear {
    0% {opacity: 1;}
    0% {opacity: 0;}
}

@mixin media($media) {
    @each $size, $resolution in $sizes {
      @if $media == $size {
        @media only screen and (max-width: $resolution) {
          @content;
        }
      }
    }
  }

body {
    background-color: $bgcolor;
    color: $textcolor;
    font: $mainfont;
    background-image: url('images/bg.webp');
    background-position: center top;
    background-repeat: repeat-y;
    scroll-behavior: smooth;
}

.container {
    width: $mainwidth;
    // border: 1px solid red;
    margin: 0 auto;

    @include media("sm") {
        width: 100%;
    }
}

.line {
    width: 1200px;
    height: 1px;
    background-color: #F2F2F2;
    margin: 40px auto;

    @include media("sm") {
        // background-color: red;
        width: 90%;
        margin: 20px auto;
    }
}
// Header

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media("sm") {
        flex-direction: column;
    }

    .logo {
        @include media("sm") {
            margin: 1vh auto;
        }
    }
    
    nav {

        ul {          
            display: flex;
            justify-content: center;
            align-items: center;

            @include media("sm") {
                flex-direction: column;
            }
            
            li {
                list-style: none;
                margin: 4px 24px;

                @include media("sm") {
                    margin: 1vh auto;
                }

                &:last-child {
                    background: #007A65;
                    border-radius: 10px;
                    width: 96px;
                    height: 24px;
                    font-size: 18px;
                    line-height: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .menu--link {
                    color: $textcolor;
                    font-family: 'Lato', sans-serif;
                    font-size: 24px; 
                    text-decoration: none;      
                    
                    &:hover {
                        border-bottom: 1px solid #F2F2F2;
                    }
                }               
            }
        }
    }
}

// Hero

.hero {
    display: flex;
    justify-content: space-between;
    padding: 192px 0 64px 0;

    @include media("sm") {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    &--text {
        width: calc(100% - 568px);

        @include media("sm") {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        font-family: 'Lato', sans-serif;
        font-style: normal;
        color: $textcolor;

        h1 {   
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            margin-bottom: 39px;
        }

        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            margin-bottom: 42px;
        }
        button {
            width: 238px;
            height: 67px;
            background: #A68262;
            border-radius: 15px;
            border: none;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
        }
    }

    &--image {
        width: 568px;
        height: 375px;
        background-image: url('images/devices.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @include media("sm") {
            order: -2;
            width: 100%;
            height: 375px;
            background-size: 90%;
        }
    }
}

// Card-group

.cardGroup {
    position: relative;

    h1 {
        text-align: right;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #F2F2F2;
        margin: 50px 0;
    }

    &--wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include media("sm") {
            width: 100%;
            flex-direction: column;
        }

        &--inner {
            // height: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            p {
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #F2F2F2;
            }

            button {
                width: 208px;
                height: 40px;
                background: #A68262;
                border-radius: 15px;
                border: none;
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }

    &--card {
        width: 286px;
        height: 504px;
        background: #C09B6F;
        box-shadow: 0px 4px 4px #A68262;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        @include media("sm") {
            margin-bottom: 3vh;
        }

        h2 {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 43px;            
            color: #F2F2F2;
        }

        &:hover {
            background-color: #007A65;
            box-shadow: 0px 4px 4px #007A65;
        }

        &:nth-child(2) {
            background-color: #007A65;
            box-shadow: 0px 4px 4px #007A65;

            &:hover {
                background: #C09B6F;
                box-shadow: 0px 4px 4px #A68262;
            }
        }

    }

    &--smallLine {
        width: 220px;
        height: 1px;
        background-color: #A68262;
        margin-bottom: 20px;
    }

    .bigCard {
        display: none;

        // display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
                       
        height: 100%;
        padding: 40px 50px;
        
        background-color: #A68262;
        border-radius: 15px;
        
        font-family: 'Lato', sans-serif;
        font-style: normal;
        color: #F2F2F2;
        text-align: left;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    
        h1 {
            text-align: left;
            font-size: 36px;
            line-height: 43px;
            margin: 0;                        
        }

        &--text {
            width: 90%;
        }
    
        &--line {
            width: 90%;
            height: 1px;
            background-color: #F2F2F2;
            margin-top: 7px;
            margin-bottom: 24px;
        }

        ul {
          list-style-type: disc;
        }

        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 100px;

            &--image {
                width: 248px;
                height: 242px;
                background-image: url('images/landingPic.svg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &--image2 {
                width: 352px;
                height: 236px;
                background-image: url('images/sitePic.svg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &--image3 {
                width: 346px;
                height: 310px;
                background-image: url('images/targetPic.svg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &--text {
                text-align: right;

                p:nth-child(2) {
                    font-weight: 900;
                    font-size: 48px;
                    line-height: 58px;
                }
            }

            button {
                width: 238px;
                height: 59px;
                background: #C09B6F;
                border-radius: 15px;
                border: none;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}

// about

.about {
    h1 {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: left;
        color: #F2F2F2;
    }

    p {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        color: #FFFFFF;
    }

    .panfav {
        display: flex;
        justify-content: space-between;   
        position: relative;

        @include media("sm") {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        &--n1 {
            position: absolute;
            right: -15%;
            top: 50%;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 36px;
            text-align: center;
            letter-spacing: 0.15em;
            color: #FFFFFF;
            transform: rotate(90deg);

            @include media("sm") {
                position: static;
                transform: rotate(0deg);
                font-size: 24px;
            }
        }

        &--text {
            width: calc(100% - 441px);
            font-family: 'Lato', sans-serif;
            font-style: normal;
            color: $textcolor;
            text-align: right;

            
            @include media("sm") {
                width: 100%;
                text-align: center;
            }
    
            h1 {   
                text-align: right;
                font-weight: 700;
                font-size: 36px;
                line-height: 36px;                
                letter-spacing: 0.15em;                
                color: #FFFFFF;

                @include media("sm") {
                    width: 100%;
                    text-align: center;
                }
            }
    
            p {
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                color: #FFFFFF;
                font-family: 'Lato', sans-serif;                
            }
        }
    
        &--image {
            width: 568px;
            height: 375px;
            background-image: url('images/mouse_2.webp');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom center;

            
            @include media("sm") {
                width: 100%;
                background-size: 90%;
                background-position: center center;
            }
        }
    }

    .ksemdm {
        display: flex;
        justify-content: space-between;   
        align-items: center;
        position: relative;

        @include media("sm") {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        &--n2 {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 36px;
            text-align: center;
            letter-spacing: 0.15em;
            color: #FFFFFF;
            position: absolute;
            left: -15%;
            top: 50%;
            transform: rotate(270deg);

            @include media("sm") {
                position: static;
                transform: rotate(0deg);
                font-size: 24px;
            }
        }

        &--text {
            width: calc(100% - 544px);
            text-align: left;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            color: $textcolor;

            @include media("sm") {
                width: 100%;
                text-align: center;
            }
            

            h1 {   
                text-align: left;
                font-weight: 700;
                font-size: 36px;
                line-height: 36px;                
                letter-spacing: 0.15em;                
                color: #FFFFFF;

                @include media("sm") {
                    width: 100%;
                    text-align: center;
                }
            }

            p {
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                color: #FFFFFF;
                font-family: 'Lato', sans-serif;                
            }
        }

        &--image {
            width: 544px;
            height: 427px;
            background-image: url('images/mouse_1.webp');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right center;

            @include media("sm") {
                order: -2;
                width: 100%;
                background-size: 90%;
            }
        }
    }
}

.ourWorks {
    position: relative;

    &--header {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: right;
        color: #F2F2F2;
    }

    &--grid {
        width: 100%;
        height: 900px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 24px 18px;

        @include media("sm") {
            gap: 1vmin;
        }

        .elem {
            border-radius: 15px;
            transition: all 0.5s ease;
            
            // &:hover {
            //     grid-area: 1/1/4/4;
            //     z-index: 2;
            // }
        }

        .one {
            grid-area: 1/1/3/3;
            background-color: #fff;
            background-image: url('images/one.png');
            background-position: center center;
            background-repeat: no-repeat;
         
            @include media("sm") {
                grid-area: 1/4/1/1;
            }
        }

        .two {
            grid-area: 1/3/3/4;
            background-color: #fff;
            background-image: url('images/two.svg');
            background-position: center center;
            background-size: 100%;
            background-repeat: no-repeat;

            // &:hover {
            //     background-color: #007A65;
            // }

            @include media("sm") {
                grid-area: 2/1/3/4;
            }

        }

        .three {
            grid-area: 3/1/3/4;
            background-color: #4E757C;
            background-image: url('images/three.png');
            background-position: center center;
            background-repeat: no-repeat;

            // &:hover {
            //     background-color: #007A65;
            // }
        }
    }

    &--bigСard {
        display: none;
        
        // display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
                       
        height: 100%;
        width: 100%;
        padding: 40px 50px;
        
        background-color: #A68262;
        border-radius: 15px;
        
        font-family: 'Lato', sans-serif;
        font-style: normal;
        color: #F2F2F2;
        text-align: left;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

        background-repeat: no-repeat;
        background-position: center center;

        h1 {
            text-align: left;
            font-size: 36px;
            line-height: 43px;
            margin: 0;   
        }

        &--line {
            width: 90%;
            height: 1px;
            background-color: #F2F2F2;
            margin-top: 7px;
            margin-bottom: 24px;          
        }
                   
        button {
            align-self: end;
            width: 238px;
            height: 59px;
            background: #C09B6F;
            border-radius: 15px;
            border: none;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
        }
        
        &--ex1 {
            background-image: url('images/mockup2.svg');
        }
    
        &--ex2 {
            background-image: url('images/mockup1.svg');
        }
    
        &--ex3 {
            background-image: url('images/mockup3.svg');
        }
    }

}

.howTo {
    h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: right;
        color: #F2F2F2;
    }

    &--wrapper {
        display: flex;
        justify-content: space-between;

        @include media("sm") {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &--text {
        width: 49%;
        text-align: left;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        color: $textcolor;

        @include media("sm") {
            width: 100%;
        }

        h2 {   
            font-weight: 400;
            font-size: 36px;
            line-height: 36px;                
            letter-spacing: 0.15em;                
            color: #FFFFFF;
        }

        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            font-family: 'Lato', sans-serif;                
        }
    }

    &--form {
        width: 49%;
        height: 338px;
        background-color: #007A65;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media("sm") {
            width: 100%;
        }

        p {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #F2F2F2;
        }

        input[type="text"] {
            // width: 390px;
            width: 80%;
            height: 58px;
            padding: 20px 35px;
            background: #F2F2F2;
            border: 1px solid #E7E7E7;
            box-sizing: border-box;
            border-radius: 61px;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;

            color: #000;
            margin: 12px;

            &:focus {
                outline: 1px solid #A68262;
            }

            &:placeholder {
                color: #C5C5C5;
            }
        }

        button {
            width: 80%;
            height: 58px;
            background: #A68262;
            border-radius: 15px;
            border: none;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            margin: 12px;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media("sm") {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--item {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    
    &--social {
        margin: 33px;
    }
}

